.header{
    text-align: center;
    font-size: 4vw;
}

.bank{
    align-content: center;
}

.column{
    float: left;
    text-align: center;
    width: 50%;
    height: auto;
}

.container{
    height: 50vw;
}

.details{
    text-align: center;
    font-size: 3vw;
}

.numbers{
    color: limegreen;
}

.numbers2{
    color: red;
}

.numbers3{
    color: gold;
}

.numbers4{
    color: blue;
}

.tabs{
    font-size: 5vw;

}

.row{
    height: 33%;
    height: auto;
}

.row:after{
    align-content: center;
    content: "";
    display: table;
    clear: both;
}