.header{
    text-align: center;
}

.bank{
    align-content: center;
}

.column{
    float: left;
    text-align: center;
    width: 50%;
}

.container{
    height: 75%;
}

.details{
    text-align: center;
}

.tabs{
    font-size: 64px;
}

.row:after{
    align-content: center;
    content: "";
    display: table;
    clear: both;
    height: 75%;
}